---
// src/layouts/ConstructionLayout.astro
const { title = "Site Under Construction" } = Astro.props;
import "../styles/global.css";

---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
</head>
<body>
    <div class="size-full min-h-dvh bg-gradient-to-br from-gray-50 to-gray-100 grid place-items-center p-4">
        <slot />
    </div>
</body>
</html>